Repository Projeto-Ciclo-2/Copilot, pull requests merged in 2024-10, with the labels that each got.

#6 feat: criação da rota de login
  backend/src/controllers/authController.ts
  backend/src/controllers/userController.ts
  backend/src/middlewares/AuthMiddlewares.ts
  backend/src/repositories/userRepository.ts
  backend/src/routes/authRoutes.ts
  backend/src/routes/router.ts
  backend/src/routes/userRoutes.ts
  backend/src/services/AuthService.ts
  backend/src/services/BCryptService.ts
  backend/src/services/JwtTokenService.ts
  backend/src/services/userService.ts
  backend/src/utils/AuthorizedNeed.ts
  backend/src/utils/Exception.ts
  backend/src/utils/HttpResponse.ts
  backend/src/utils/Message.ts
  backend/tsconfig.json
  backend/users
Labels: enhancement

#7 Feat/homepage
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/cardQuiz.tsx
  frontend/src/components/speedDial.tsx
  frontend/src/icons/arrowUp.tsx
  frontend/src/icons/global.tsx
  frontend/src/icons/imagesCards.tsx
  frontend/src/icons/moreIcon.tsx
  frontend/src/icons/search.tsx
  frontend/src/icons/statistic.tsx
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/css/HomePage.css
  frontend/src/routes.tsx
Labels: enhancement

#8 fix: atualizada a rota post de users para ficar sem restrição e arrum…
  backend/package.json
  backend/src/routes/authRoutes.ts
  backend/src/routes/userRoutes.ts
  backend/src/utils/HttpResponse.ts
  backend/tsconfig.json
Labels: enhancement

#9 Update/login page backend connection
  backend/package.json
  backend/tsconfig.json
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/api/users.ts
  frontend/src/components/button.tsx
  frontend/src/components/input.tsx
  frontend/src/components/loginForm.tsx
  frontend/src/components/modal/modal.css
  frontend/src/components/modal/modal.tsx
  frontend/src/components/notification/defaultMessages.ts
  frontend/src/components/notification/notification.css
  frontend/src/components/notification/notification.tsx
  frontend/src/components/singupForm.tsx
  frontend/src/declarations.d.ts
  frontend/src/icons/background.svg
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/css/AuthPage.css
Labels: enhancement

#10 docs: add backend, frontend init guide and git patterns
  README.md
  docs/backend.md
  docs/frontend.md
  docs/git-padrões.md
Labels: documentation

#13 Feat/interfaces
  backend/src/interfaces/IQuiz.ts
  backend/src/quiz-generator/index.ts
  backend/src/websocket/index.ts
  frontend/src/assets/icons/arrowDown.jsx
  frontend/src/assets/icons/clock.jsx
  frontend/src/assets/icons/group.jsx
  frontend/src/assets/icons/hashtag.jsx
  frontend/src/assets/icons/ia-start.jsx
  frontend/src/assets/icons/interrogation.jsx
  frontend/src/assets/icons/paperPlane.jsx
  frontend/src/assets/icons/text.jsx
  frontend/src/assets/icons/theme.jsx
  frontend/src/assets/svg/groupBuildingApp.jsx
  frontend/src/assets/svg/lookingAtComputer.jsx
  frontend/src/assets/svg/mysteryBox.jsx
  frontend/src/pages/create-quiz/createQuiz.css
  frontend/src/pages/create-quiz/createQuiz.tsx
  frontend/src/routes.tsx
Labels: enhancement

#14 Feat/backend table postgres poll
  backend/.env.example
  backend/knex/migrations/20241016154048_polls.ts
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/pollController.ts
  backend/src/database/redisClient.ts
  backend/src/entities/pollEntity.ts
  backend/src/entities/userEntity.ts
  backend/src/index.ts
  backend/src/middlewares/AuthMiddlewares.ts
  backend/src/repositories/userRepository.ts
  backend/src/services/userService.ts
Labels: enhancement

#16 upd: style update in homepage and authpage
  frontend/src/components/button.tsx
  frontend/src/components/loginForm.tsx
  frontend/src/components/notification/notification.css
  frontend/src/components/singupForm.tsx
  frontend/src/icons/exit.tsx
  frontend/src/icons/logout.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/Statistic.tsx
  frontend/src/pages/css/AuthPage.css
  frontend/src/pages/css/HomePage.css
Labels: enhancement

#17 feat: Create persistence files for Poll and make some minor changes
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/pollController.ts
  backend/src/controllers/userController.ts
  backend/src/database/redisClient.ts
  backend/src/entities/PollQuestionEntity.ts
  backend/src/entities/pollEntity.ts
  backend/src/interfaces/IQuiz.ts
  backend/src/middlewares/AuthMiddlewares.ts
  backend/src/repositories/pollRepository.ts
  backend/src/repositories/userRepository.ts
  backend/src/services/pollService.ts
  backend/src/services/userService.ts
  backend/src/utils/Message.ts
  backend/src/websocket/index.ts
Labels: enhancement

#24 Feat/quiz ingame
  frontend/src/App.css
  frontend/src/components/alternatives/alternatives.css
  frontend/src/components/alternatives/alternatives.tsx
  frontend/src/components/linearProgress.tsx
  frontend/src/components/userRanking.tsx
  frontend/src/context/questionCurrentContext.tsx
  frontend/src/icons/confirm.tsx
  frontend/src/icons/group.tsx
  frontend/src/index.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/pages/Quiz.tsx
  frontend/src/pages/css/Lobby.css
  frontend/src/pages/css/Quiz.css
  frontend/src/pages/css/globalRanking.css
  frontend/src/pages/rankingQuiz.tsx
  frontend/src/routes.tsx
Labels: enhancement

#25 Feat/backend create poll implementation
  backend/src/entities/pollEntity.ts
  backend/src/quiz-generator/responseExamples.ts
  backend/src/repositories/pollRepository.ts
  backend/src/services/pollService.ts
  backend/src/utils/Message.ts
  backend/src/websocket/index.ts
Labels: enhancement, Backend

#28 Feat/web socket frontend suport beta version
  backend/.env.example
  backend/src/config/index.ts
  backend/src/controllers/authController.ts
  backend/src/index.ts
  backend/src/services/pollService.ts
  backend/src/websocket/index.ts
  docs/backend.md
  frontend/src/api/users.ts
  frontend/src/assets/svg/yesOrNo.tsx
  frontend/src/config/config.ts
  frontend/src/context/UserContext.tsx
  frontend/src/context/WebSocketContext.tsx
  frontend/src/interfaces/IQuiz.ts
  frontend/src/interfaces/IUser.ts
  frontend/src/interfaces/IWSMessages.ts
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/create-quiz/createQuiz.tsx
  frontend/src/routes.tsx
  frontend/src/webSocket/webSocket.ts
Labels: enhancement, Frontend

#29 Feat/update quiz logic
  frontend/src/components/alternatives/alternatives.tsx
  frontend/src/components/linearProgress.tsx
  frontend/src/context/questionCurrentContext.tsx
  frontend/src/pages/Quiz.tsx
Labels: enhancement, Frontend

#36 #35 Feat/web socket frontend suport
  frontend/src/assets/svg/groupBuildingApp.tsx
  frontend/src/assets/svg/yesOrNo.tsx
  frontend/src/components/inputIcon.tsx
  frontend/src/components/load/Loader.tsx
  frontend/src/components/load/loader.css
  frontend/src/config/config.ts
  frontend/src/context/WebSocketContext.tsx
  frontend/src/index.tsx
  frontend/src/interfaces/IWSMessages.ts
  frontend/src/log/DebugConsole.ts
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/create-quiz/createQuiz.tsx
  frontend/src/pages/errors/WebSocketError.tsx
  frontend/src/webSocket/webSocket.ts
Labels: enhancement, frontend

#37 Feat/integration statistic page
  frontend/src/icons/medal.tsx
  frontend/src/icons/playedPolls.tsx
  frontend/src/icons/star.tsx
  frontend/src/icons/trophy.tsx
  frontend/src/pages/Statistic.tsx
  frontend/src/pages/css/Statistic.css
Labels: enhancement, frontend

#41 Feat/backend websocket polls
  backend/.env.example
  backend/src/entities/VoteEntity.ts
  backend/src/index.ts
  backend/src/interfaces/IQuiz.ts
  backend/src/interfaces/IWSMessage.ts
  backend/src/repositories/pollRepository.ts
  backend/src/services/pollService.ts
  backend/src/websocket/index.ts
  docs/backend.md
  frontend/src/interfaces/IQuiz.ts
  frontend/src/interfaces/IUser.ts
  frontend/src/interfaces/IWSMessages.ts
  frontend/src/pages/create-quiz/createQuiz.tsx
Labels: bug fix, documentation, enhancement, backend

#42 Feat/backend websocket polls
  backend/src/services/pollService.ts
  backend/src/utils/.gitkeep
  backend/src/utils/Message.ts
  backend/src/websocket/index.ts
Labels: bug fix, enhancement, backend

#43 Feat/backend game init functionality
  backend/src/interfaces/IWSMessage.ts
  backend/src/repositories/pollRepository.ts
  backend/src/services/pollService.ts
  backend/src/utils/Message.ts
  backend/src/websocket/index.ts
Labels: enhancement, backend

#44 Feat/backend websocket polls
  backend/src/services/pollService.ts
  backend/src/websocket/index.ts
Labels: bug fix, enhancement, backend

#45 Feat/backend websocket polls
  backend/.env.example
  backend/src/config/index.ts
  backend/src/interfaces/IQuiz.ts
  backend/src/interfaces/IWSMessage.ts
  backend/src/utils/Message.ts
  backend/src/websocket/index.ts
  backend/src/websocket/ws.test.ts
Labels: enhancement, backend

#49 Upd/frontend
  frontend/src/context/WebSocketContext.tsx
  frontend/src/interfaces/IWSMessages.ts
Labels: frontend, update

#50 fix: leftQuiz backend response
  backend/src/interfaces/IWSMessage.ts
  backend/src/services/pollService.ts
  backend/src/websocket/index.ts
  frontend/src/context/WebSocketContext.tsx
  frontend/src/interfaces/IWSMessages.ts
Labels: bug fix, frontend, backend

#51 Fix/backend sendvotes empty message and votecount inconsistecy
  backend/src/repositories/userRepository.ts
  backend/src/repositories/voteRepository.ts
  backend/src/services/voteService.ts
  backend/src/websocket/index.ts
  backend/src/websocket/ws.test.ts
Labels: bug fix, backend

#52 upd/add banner to the page, and disable next button in create quiz page.
  frontend/public/enigmus.svg
  frontend/public/index.html
  frontend/src/components/banner.tsx
  frontend/src/components/loginForm.tsx
  frontend/src/components/singupForm.tsx
  frontend/src/pages/create-quiz/createQuiz.tsx
  frontend/src/pages/create-quiz/css/createQuiz.css
  frontend/src/pages/css/AuthPage.css
Labels: enhancement, frontend

#53 Fix/docker
  .dockerignore
  backend/.dockerignore
  backend/.env.example
  backend/Dockerfile.dev
  backend/package-lock.json
  backend/package.json
  backend/src/config/index.ts
  backend/src/database/redisClient.ts
  backend/src/interfaces/IWSMessage.ts
  backend/src/services/BCryptService.ts
  backend/src/websocket/index.ts
  docker-compose.yml
  frontend/Dockerfile.dev
  nginx/Dockerfile.dev
Labels: bug fix, backend, docker

#56 fix: backend now sends the poll when the game ends
  backend/src/interfaces/IWSMessage.ts
  backend/src/websocket/index.ts
  frontend/src/interfaces/IWSMessages.ts
Labels: bug fix, backend

#57 fix: iws array error
  backend/src/interfaces/IQuiz.ts
  backend/src/interfaces/IWSMessage.ts
  backend/src/websocket/index.ts
  frontend/src/interfaces/IWSMessages.ts
Labels: bug fix, backend

#58 #32 #33 Feat/integration ws quiz
  backend/src/entities/pollEntity.ts
  backend/src/repositories/voteRepository.ts
  backend/src/services/voteService.ts
  frontend/src/assets/svg/groupBuildingApp.tsx
  frontend/src/components/cardQuiz.tsx
  frontend/src/context/PollsContext.tsx
  frontend/src/context/questionCurrentContext.tsx
  frontend/src/icons/imagesCards.tsx
  frontend/src/icons/time.tsx
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/Lobby.tsx
  frontend/src/pages/Quiz.tsx
  frontend/src/pages/create-quiz/createQuiz.tsx
  frontend/src/pages/css/HomePage.css
  frontend/src/routes.tsx
Labels: bug fix, enhancement, frontend

#61 upd: dockerfile
  backend/Dockerfile.dev
  backend/package-lock.json
  backend/package.json
Labels: bug fix, frontend

#62 fix: docker fix
  backend/Dockerfile.dev
  backend/knexfile.ts
  backend/wait-for-postgres.js
  docker-compose.yml
  frontend/Dockerfile.dev
Labels: bug fix, docker

#65 Fix/input icon component
  .dockerignore
  frontend/Dockerfile.dev
  frontend/src/components/inputIcon.tsx
  frontend/src/pages/create-quiz/createQuiz.tsx
  frontend/src/pages/create-quiz/css/createQuiz.css
  nginx/Dockerfile.dev
Labels: bug fix, enhancement, frontend, docker

#67 Closes #66 feat: tls and https
  README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  nginx/Dockerfile.dev
  nginx/Dockerfile.prod
  nginx/dev.nginx
  nginx/prod.nginx
Labels: documentation, enhancement, docker, update

#69 Fix/websocket context
  backend/src/websocket/index.ts
  frontend/src/assets/icons/rankingOrder.tsx
  frontend/src/assets/svg/groupBuildingApp.tsx
  frontend/src/assets/svg/yesOrNo.tsx
  frontend/src/components/banner.tsx
  frontend/src/components/load/Loader.tsx
  frontend/src/context/WebSocketContext.tsx
  frontend/src/icons/imgWaitRankIcon.tsx
  frontend/src/icons/medal.tsx
  frontend/src/icons/starWinner.tsx
  frontend/src/icons/trophy.tsx
  frontend/src/pages/Homepage.tsx
Labels: bug fix, enhancement, frontend, backend, update

#70 fix: inputIcon err
  frontend/src/components/inputIcon.tsx
  frontend/src/config/config.ts
Labels: bug fix, frontend

#71 Fix/players at this quiz
  backend/src/entities/pollEntity.ts
  backend/src/interfaces/IWSMessage.ts
  backend/src/services/pollService.ts
  backend/src/services/voteService.ts
  backend/src/websocket/index.ts
  frontend/src/context/PollsContext.tsx
  frontend/src/interfaces/IQuiz.ts
  frontend/src/interfaces/IWSMessages.ts
  frontend/src/pages/Homepage.tsx
  frontend/src/pages/Lobby.tsx
Labels: bug fix, enhancement, backend, update
